.challanges {
  padding: 20px;
}

.challanges-ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.challanges-box2 {
  padding: 30px 0;
}

.challanges-box2 h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 29px;
}

.chellenge-group {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}
.green-background {
  background-color: #59ec59;
}

.challanges-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 20px auto;
  width: 246px;
  height: 246px;
  background: #1abc9c;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 2s box-shadow;
  cursor: pointer;
}

.challanges-box:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.challanges-title {
  color: rgb(232, 229, 229);
  margin-bottom: 20px;
}

.challanges-text {
  color: rgb(255, 255, 255);
}

.challanges-box:hover::before,
.challanges-box:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: #fda8cf;
  border-radius: 50px;
  z-index: -1;
  animation: 2s clockwise infinite;
}

.challanges-box:hover:after {
  background: #f3ce5e;
  animation: 4s counterclockwise infinite;
}

/* style.css fayliga qo'shing */
.input-error {
  border: 2px solid red; /* Qizil chegara */
  animation: shake 0.3s; /* Qimirlatish effekti */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

.green-background {
  background-color: #59ec59;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-contents {
  background-color: rgba(37, 58, 58, 0.8);
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.sumbit-main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.modal-contents h3 {
  margin-bottom: 20px;
  color: #ffff;
  font-size: 26px;
  text-align: center;
}

.modalftext {
  color: #ffff;
  font-size: 20px;
  margin-bottom: 15px;
}

.modalstext {
  color: rgb(50, 14, 255);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.response-message {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  background-color: #d4edda; /* Yashil fon */
  color: #155724; /* Yashil matn */
}

.incorrect {
  background-color: #f8d7da; /* Qizil fon */
  color: #721c24; /* Qizil matn */
}

.modal-contents form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  width: 100%;
}

.modal-contents input {
  display: block;
  padding: 10px;
  font-size: 1rem;
  max-width: 540px;
  width: 100%;
  border: 1px solid #0ab4b4;
  color: white;
  background-color: rgba(37, 58, 58, 0.8);
}

.modal-contents input {
  outline: none;
}

.modal-contents button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(95, 15, 243);
  color: #fff;
  cursor: pointer;
}

.modal-sumbit {
  width: 100px;
  margin: 20px 0;
}

.modal-contents button:hover {
  background-color: rgb(60, 10, 153);
}

.exit-button:hover,
.modal-contents button:hover {
  background-color: #555;
}

.hint-container {
  position: relative;
  margin-right: 10px;
}

.hint-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hint-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  top: 35px; /* Position below the hint button */
  left: 0;
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hint-container:hover .hint-content {
  display: block;
}

.hint-container .hint-content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hint-container:hover .hint-content {
  opacity: 1;
  transform: translateY(0);
}

.exit-main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.exit-button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0 auto;
}

.exit-button:hover {
  background-color: darkred;
}

/* loading */
.challenge-main .loader-challenge {
  background-color: red;
}

.challenge-button {
  background-color: rgb(95, 15, 243);
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.loader-challenge {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
